<?xml version='1.0' encoding='utf-8'?>
<widget id="net.liketightpants.more-rain" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>More Rain</name>
    <preference name="DisallowOverscroll" value="true" />
    <description>
        An example of a simple Cordova/PhoneGap App for the exercise ‘Useless Correlation Application’ 
    </description>
    <author email="eric@ericschrijver.nl" href="http://i.liketightpants.net/and/">
        Eric Schrijver
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
